body{
    background: rgba(110, 133, 146, 0.641);
}
.container {
    display: flex;
    gap: 1rem;
}

aside, main {
    border: 1px solid ;
    border-radius: 0.5rem;
    padding: 1rem;
    height: 95vh;
}
aside{
    flex-basis: 25%;
    text-align: center;
    background: pink;
}
main {
    flex: 1;
    text-align: center;
    background: purple;
}